.side-nav-container{
    background-color: rgba(153, 101, 21, 0.6);
    width: 300px;
    height: 100vh;
    position: relative;
    
    transition: 0.4s;

}

.side-nav-container-NX {
    width: 85px;
}

.nav-upper, 
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
    display: grid;
}

.nav-heading {
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 150px;
}

.nav-brand{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
}

.hamburger{
    position: absolute;
    right: 0;

    background: none;
    border: none;
    cursor: pointer;

    margin: 47px -35px;
    background-color: #996515;
    border: 2px solid white;
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.hamburger span {
    display: block;
    margin-top: 5px;
    background-color: white;
    border-radius: 15px;
    height: 4px;
    width: 30px;

    transition: 0.4s;
}

.hamburger:hover span{
    margin: auto;
}

.hamburger-in:hover span:nth-child(1) {
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger-in:hover span:nth-child(2) {
    display: none;
}

.hamburger-in:hover span:nth-child(3) {
    width: 25px;
    transform: translate(-3px, -8px) rotate(-30deg);
}


.hamburger-out:hover span:nth-child(1) {
    width: 25px;
    transform: translate(0px, 8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(2) {
    display: none;
}

.hamburger-out:hover span:nth-child(3) {
    width: 25px;
    transform: translate(0px, -8px) rotate(30deg);
}

.band-logo {
    background-image: url("../../images/band-logo.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(251, 209, 209);
}

.band-title{
    padding-left: 2%;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #996515;
}

.nav-menu{
    grid-template-rows: repeat(7, 1fr);
    margin-top: 35px;
}

.menu-item {
    height: 57px;
    width: 16em;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: auto 20px;
    border-radius: 10px;
    position: relative;
}

.menu-item-NX{
    margin: auto;
    width: 4.5em;
}

.menu-item:hover {
    background-color: #996515;
}

.menu-item img{
    width: 65px;
    padding: 0 20px;
}

.menu-item:hover > .tooltip{
    display: block;
}

.tooltip{
    display: none;
    position: absolute;
    left: 99%;
    bottom: 80%;

    width: auto;
    padding: 4px, 8px;

    border-radius: 15px 15px 15px 0;
    white-space: nowrap;
    border: 2px solid black;
    background-color: #996515;
}

.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    background-color: #996515;
    padding: 2px;
}

.nav-details{
    display: flex;
}

.nav-details-NX{
    width: 300px;
}

.nav-details-NX .nav-footer-user-name {
    visibility: hidden;
}

.nav-details-NX .nav-footer-user-role{
    visibility: hidden;
}

.nav-details img {
    width: 80px;
    padding: 0 20px;
}

.nav-footer-user-name {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.nav-footer-user-role {
    font-size: 14px;
    font-weight: lighter;
    color: red;
}

.user-edit{
    width: 30px;
    margin: auto;
}