/* Import Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.loginForm {
    font-family: 'Lato'; /* Specify 'Lato' as the font family*/
    margin-top: 5%;
    margin-left: 60%;
    width: 480px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Set opacity by adjusting the fourth parameter*/
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .loginForm {
        margin-left: 50%; /* Center the box horizontally */
        transform: translateX(-50%);
        width: 80%; /* Makes form become 80% of screen size */
    }
}

.form-heading{
    display: flex;
    align-items: center;
    padding-top: 8%;
    padding-left: 10%;
    margin-bottom: 5%;
}

.logoImage {
    background-image: url("../../images/band-logo.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
}

.cca-name{
    padding-left: 5%;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #996515;
}

.login-role {
    color: white;
    /* margin-left: 10%; */
}

.role-radio {
    margin-top: 1%;
    /* margin-left: 10%; */
    color: white;
}

.email-form{
    margin-top: 5%;
    /* margin-left: 10%; */
}

.password-form {
    margin-top: 2%;
    /* margin-left: 10%; */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
  }

.code-form{
    margin-top: 2%;
}

.login-btn{
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 10%;
}

