.loginScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* ::before pseudo-element is used to represent the background image. 
The filter: blur(5px) is applied only to this 
pseudo-element, ensuring that it won't affect the content inside the main container.  */
.loginScreen::before {  
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../images/band-cover.jpg");
    background-size: cover;
    filter: blur(5px); /* Adjust the blur amount as needed */
    z-index: -1; /* Ensure it's behind the content */
  }
